body {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.outer {
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.content {
    display: flex;
    flex-direction: row;
    gap: 100px;
}

#gif {
    border-radius: 22px;
    max-height: 400px;
}

.form {
    display:inline-block;
    text-align: center;
    margin-bottom: 50px;
}

.todelete {
    text-align: center;
}

.translate {
    margin-top: 40px;
}
